*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* .displaynews{
    max-height: 80vh;
} */

@media only screen and (min-width:320px) {
    .footerbtns{
        position: fixed;
        top: 88vh;
        gap: 2px;
        transform: translate(-2%);
    }
}
@media only screen and (min-width:375px) {
    .footerbtns{
        position: fixed;
        top: 89vh;
        gap: 9px;
        transform: translate(4%);
    }
}
@media only screen and (min-width:425px) {
    .footerbtns{
        position: fixed;
        top: 88vh;
        gap: 14px;
        transform: translate(7%);
    }
}
@media only screen and (min-width:768px) {
    .footerbtns{
        position: fixed;
        top: 88vh;
        gap: 90px;
        transform: translate(13%);
    }
}
@media only screen and (min-width:1024px) {
    .footerbtns{
        position: fixed;
        top: 90vh;
        gap: 90px;
        transform: translate(50%);
    }
}