*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* .foot_icon{
    display: flex;
} */
.card{
    /* position: relative; */
    /* height: 100vh; */
}

.showPost{
    height: 66vh;
    max-height: 70vh;
    /* overflow: auto; */
}
.showPost::-webkit-scrollbar{
    display: none;
}

.card-footer{
    /* display: grid; */
    /* justify-content: baseline; */
    /* margin-top: 200px; */
}
.foot_icon li:hover{
  background-color: #008000;
  padding:  8px;
  cursor: pointer;
}
.user_name{
    text-decoration: none; 
}